body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgba(222, 233, 159, 0.822);
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .grow { 
    transition: all .2s ease-in-out; 
    }
    
  .grow:hover { 
    transform: scale(1.1); 
    }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .fade-in { animation: fadeIn 3s; }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .square {
    background: rgba(143, 206, 60, 0.678);
    border: 0.5px solid rgb(85, 155, 6);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }