body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgba(222, 233, 159, 0.822);
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgba(143, 206, 60, 0.678);
    border: 0.5px solid rgb(85, 155, 6);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }

  .upper-zone {
    display: flex;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-board {
    margin-top: 1% ;
    margin-left: 30% ;
    margin-bottom: 2% ;
    float: left;
  }

  .buttons {
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  #lista1  ul{
   
    list-style-type: none;
}

#lista1  img{
  float: left;
  padding: 1.2%
  ;
}

#title{
  font: "";
  text-align: center;
  font-size: 50px;
  color: rgb(200, 211, 40);
}
